
.login-page-top {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #128ff2;
    content: "";
    z-index: -10;
}

.login-page-bottom {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background: #f7f7f7;
    content: "";
    z-index: -10;
}

.login-page-container {
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0, -50%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

.line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    line-height: 0.1em;
    margin: 20px 0 20px;
} 

.line-text {
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: medium;
}

.input {
    border: none;
    border-bottom: solid 1px lightgray;
    background-color: rgb(238, 238, 238);
    padding: 15px;
    font-size: large;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 3px;
}

.button {
    border: none;
    background-color: dodgerblue;
    font-size: large;
    color: white;
    padding: 15px;
    border-radius: 3px;
}

.button:hover {
    background-color: rgb(11, 133, 255);
    cursor: pointer;
}

.button:disabled {
    background-color: rgb(125, 190, 255);
    cursor: default;
}

.error-label {
    font-size: medium;
    color: red;
}