.main-screen-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto auto 1fr;
    // background-color: green;
    margin: 1vh 1vw;
    padding: 0px;
    row-gap: 1%;
    column-gap: 1%;
    height: 98vh;
    width: 98vw;
}

.board-container {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    // background-color: aqua;
}

.choose-game-container {
    grid-column: 2;
    grid-row: 1;
    // background-color: blue;
}

.game-statistics-container {
    grid-column: 2;
    grid-row-start: 2;
    // background-color: gray;
}

.chat-container {
    grid-column: 2;
    grid-row: 3;
    // background-color: yellow;
}